.force_display-block {
	display: block;	
}

select{
    cursor: pointer;
}

.glyphicon-info-sign{
    cursor: help;
}

.transactionType{
    text-transform: capitalize;
    font-weight: bold;
}
.page-header-dashboard{
    border-bottom: 1px solid #eee;
    margin: 0 0 0px;
    padding-bottom: 9px;
}