.force_display-block {
	display: block;	
}

select{
    cursor: pointer;
}

.glyphicon-info-sign{
    cursor: help;
}

.transactionType{
    text-transform: capitalize;
    font-weight: bold;
}